body{
	background-color: #3F3D42;
	color: #C5EFF7;
	font-family: sans-serif;
}

.header,.subheader,.caption, a{
	color:#00BFFF;
	font-weight: bold;
}
.content{
	padding-bottom: 35pt;
}
.header{
	font-size: 20pt;
}
.subheader{
	font-size: 14pt;
}
.vid{
	display: block;
	margin: 0 auto;
}
#main{
	width: 640px;
	font-size: 12pt;
	display: inline-block;
}
#key{
	display: inline-block;
	vertical-align: top;
	position: fixed;
	margin-left: 30px;
}
img{
	width: 450px;
}
figure{
	border: 2px solid #00BFFF;
	padding: 15px;
	text-align: center;
}