body{
	background-color: #3F3D42;
	color: #C5EFF7;
	font-style: sans-serif;
}

.header,.subheader,a{
	color:#00BFFF;
}
.content{
	padding-bottom: 
}
.header{
	font-size: 20pt;
}
.subheader{
	font-size: 14pt;
}

#main{
	width: 640px;
	font-size: 12pt;
	display: inline-block;
}
#key{
	display: inline-block;
	vertical-align: top;
	position: sticky;

}
img{
	width: 450px;
	border: 2px solid #00BFFF;
}